{% extends "base.html" %}

{% block content %}
<div class="row center-align counter-panel">
<div class="col-md-6 offset-md-3">
  <h1>{{ location.name }}</h1>
  <a id="increment" class="btn btn-primary btn-lg btn-block" role="button">
      <i class="fas fa-chevron-up" aria-hidden="true"></i>
      <span class="sr-only">Increase</span>
  </a>
  <h2 id="occupancy">{{ location.occupancy }}</h2>
  <h3 class="h5">out of {{ location.capacity }}</h3>
  <a id="decrement" class="btn btn-primary btn-lg btn-block" role="button">
      <i class="fas fa-chevron-down" aria-hidden="true"></i>
      <span class="sr-only">Decrease</span>
  </a>
</div>
{% endblock %}
